image: docker:latest
services:
  - docker:dind

stages:
  - test
  - visualize
  - build
  - package
  - deploy

variables:
  IMAGE_NAME: lukekijung/logconsumer

test-jdk11:
  stage: test
  image: gradle:7.0.2-jdk11
  script:
    - 'gradle test jacocoTestReport' # jacoco must be configured to create an xml report
  artifacts:
    paths:
      - build/jacoco/jacoco.html
      - build/jacoco/jacoco.xml
  coverage: '/    - Line Coverage: ([0-9.]+)%/'
  tags:
    - log-consumer

coverage-jdk11:
  stage: visualize
  image: registry.gitlab.com/haynes/jacoco2cobertura:1.0.7
  script:
    # convert report from jacoco to cobertura, using relative project path
    - python /opt/cover2cover.py build/jacoco/jacoco.xml $CI_PROJECT_DIR/src/main/java/ > build/cobertura.xml
  needs: ["test-jdk11"]
  dependencies:
    - test-jdk11
  artifacts:
    reports:
      cobertura: build/cobertura.xml
  tags:
    - log-consumer

build:
  image: gradle:7.0.2-jdk11
  stage: build
  script:
    - gradle clean build
  artifacts:
    paths:
      - build/libs/*.jar
  only:
    - develop
    - master
  tags:
    - log-consumer

package:
  stage: package
  script:
    - docker build -t $IMAGE_NAME .
    - docker login -u $DOCKERHUB_ID -p $DOCKERHUB_PASS
    - docker push $IMAGE_NAME
    - docker images | grep 'logconsumer'
  only:
    - develop
    - master
  tags:
    - log-consumer

deploy_staging:
  stage: deploy
  script:
    - apk upgrade && apk update
    - apk add openssh-client
    - apk add sshpass
    - sshpass -p "$STAGING_SERVER_PASS" ssh -o StrictHostKeyChecking=no $STAGING_SERVER_USER@$STAGING_SERVER_IP docker login -u $DOCKERHUB_ID -p $DOCKERHUB_PASS
    - sshpass -p "$STAGING_SERVER_PASS" ssh -o StrictHostKeyChecking=no $STAGING_SERVER_USER@$STAGING_SERVER_IP docker pull $IMAGE_NAME
    - sshpass -p "$STAGING_SERVER_PASS" ssh -o StrictHostKeyChecking=no $STAGING_SERVER_USER@$STAGING_SERVER_IP "docker container stop logconsumer && docker container rm logconsumer || true"
    - sshpass -p "$STAGING_SERVER_PASS" ssh -o StrictHostKeyChecking=no $STAGING_SERVER_USER@$STAGING_SERVER_IP docker run --name logconsumer -p 81:8081 -d $IMAGE_NAME
  environment:
    name: staging
    url: $STAGING_SERVER_IP:81
  only:
    - develop
  tags:
    - log-consumer